.text-muted{
    display: none;
}

.asteriskField {
    display: none;
}

.requiredField {
    margin-top: 5%;
}

.d-grid{
    margin-top: 2%;
}

.search{
    width: 800px;
    line-height: 35px;
}

.p-tag{
    margin-top: 2%;
}

a{
    text-decoration: none;
}

.index-svg{
    margin-top: 3%;
}

body{
    background-color: whitesmoke;
    
}